.converter-body {
  height: 150px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 2px 1px #cacaca;
  &__title {
    text-align: center;
    margin: 13px 0px;
  }
}

.converter__result,
converter__input {
  height: 25px;
}
