$gradient: linear-gradient(180deg, rgba(45, 112, 1253, 0.73) 0%, #163e92 100%);

$dark: #001747;
$grey: #b1bacb;
$greyBorder: rgba(210, 210, 210, 0.75);
$greyLight: #eeeeee;
$greyDark: #405175;
$blue: #2d70fd;
$green: #00d8a7;
$white: #ffffff;
